@import "@/assets/css/main.scss";

$admin-bg: black;
$admin-fg: white;

.chat-header {
    margin: 0;
    padding: 0;
    height: 72px;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
    .chat-header-row {
        margin: 0;
        padding: 4px 10px;
        align-items: center;
        height: 100%;
    }
    .num-members {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 12 * $chat-text-size;
        color: black;
    }
    .v-btn.leave-button {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: 11 * $chat-text-size;
        color: black;
        background-color: white !important;
        border: 1px solid black;
        border-radius: $chat-standard-padding / 2;
        height: $chat-standard-padding;
        margin-top: $chat-standard-padding-xs;
        margin-bottom: $chat-standard-padding-xs;
    }
}

.chat-root {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    background-color: $chat-background;
    overflow: hidden;

    .chat-content {
        margin: 0;
        padding-top: $chat-standard-padding-s;
        padding-left: $chat-standard-padding-s;
        padding-bottom: $chat-standard-padding-s;
        padding-right: $chat-standard-padding-s;
        &::-webkit-scrollbar {
            width: 4px;
        }
        /* Track */
        &::-webkit-scrollbar-track {
            background: #cccccc;
        }
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: black;
        }
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #4d4d4d;
        }
    }

    .input-area {
        background-color: #e2e2e2;
        margin: 0;
        padding-left: $chat-standard-padding-s;
        padding-right: $chat-standard-padding-s;
    }

    .input-area-outer {
        background-color: #ffffff;
        margin: 0;
        padding-left: 2 * $chat-standard-padding-s;
        padding-right: 2 * $chat-standard-padding-s;
        padding-top: 0px;
        .typing {
            font-family: 'Inter', sans-serif;
            font-weight: 300;
            font-size: 12 * $chat-text-size;
            color: #1c242a;
            text-align: center;
            min-height: 20px;
        }
        .input-area-inner {
            background-color: white;
            border: 1px solid #d4d4d4;
            border-radius: 32px;
        }
        .input-area-button {
            margin: 0;
            padding: 0;
            min-width: 48px;
        }
        .input-area-text {
            max-height: 30vh;
            overflow-x: hidden;
            overflow-y: auto;
            padding: 0 0 0 0px;
            margin: 6px 0;
            font-family: 'Inter', sans-serif;
            font-weight: 300;
            font-size: 18 * $chat-text-size;
            .v-input__slot {
                /* Remove text underline */
                color: transparent !important;
                min-height: 20px;
            }
        }
    }

    .op-button {
        position: relative;
        display: inline-block;
        vertical-align: top !important;
        .v-icon {
            color: #eeeeee;
            &:hover {
                color: #888888;
            }
        }
    }
}

.messageJoin {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 15 * $chat-text-size;
    color: #1c242a;
    text-align: center;
}

.messageIn {
    margin: 8px;
    text-align: left;
    position: relative;
    .bubble {
        background-color: #eeeeee;
        border-radius: 0px 10px 10px 10px;
        padding: 8px;
        border-width: 1px !important;
        border-style: solid !important;
        border-color: #eeeeee !important;
        display: inline-block;
        position: relative;
        max-width: 70%;
    }
    &.from-admin .bubble {
        background-color: $admin-bg;
    }
    .audio-bubble {
        overflow: scroll;
        display: inline-block;
        width: fit-content;
        max-width: 70%;
    }
    .bubble.image-bubble {
        padding: 0px;
        overflow: hidden;
        display: inline-block;
        width: 70%;
        max-width: 70%;
    }
    .avatar {
        display: inline-block;
        vertical-align: top !important;
        margin-right: 10px;
        top: 0;
        border: 2px solid white;
    }
    .senderAndTime {
        display: block;
    }
    .sender {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 10 * $chat-text-size;
        color: rgba(#000000, 0.6);
        margin-left: 40px;
        margin-right: 8px;
        display: inline-block;
    }
    .time {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 10 * $chat-text-size;
        color: rgba(#000000, 0.6);
        display: inline-block;
    }
}

.messageOut {
    margin: 8px;
    text-align: right;
    position: relative;
    .bubble {
        background-color: #e5e5e5;
        border-radius: 10px 10px 0 10px;
        padding: 8px;
        display: inline-block;
        position: relative;
        max-width: 70%;
    }
    .audio-bubble {
        overflow: scroll;
        display: inline-block;
        width: fit-content;
        max-width: 70%;
    }
    .bubble.image-bubble {
        padding: 0px;
        display: inline-block;
        width: 70%;
        max-width: 70%;
        .v-image {
            border-radius: 10px 10px 0 10px;
        }
    }
    .senderAndTime {
        display: block;
    }
    .sender {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 10 * $chat-text-size;
        color: rgba(#000000, 0.6);
        display: inline-block;
        margin-left: 40px;
        margin-right: 8px;
    }
    .time {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 10 * $chat-text-size;
        color: rgba(#000000, 0.6);
        display: inline-block;
    }
}

.sender, .status {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 15 * $chat-text-size;
    color: #1c242a;
    margin-bottom: 4px;
}

.message {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16 * $chat-text-size;
    color: #000000;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
    .edit-marker {
        font-size: 0.8rem;
        color: #888888;
    }
    .from-admin & {
        color: $admin-fg;
    }
}

.original-message {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 8px;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 8px;
    .original-message-sender {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: 13 * $chat-text-size;
        color: #000000;
        overflow-wrap: break-word;
        white-space: pre;
    }
    .original-message-text {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 11 * $chat-text-size;
        color: #000000;
        overflow-wrap: break-word;
        white-space: pre;
    }
}

.time {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 15 * $chat-text-size;
    color: #1c242a;
    display: inline-block;
}

.statusEvent {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 15 * $chat-text-size;
    color: #1c242a;
    text-align: center;
    margin: 20px;
}

.message-operations-strut {
    position: relative;
    height: 0px;
    z-index: 1;
}

.message-operations {
    position: absolute;
    width: fit-content;
    background-color: #e2e2e2;
    // &.incoming {
    //     right: 30%;
    // }
    // &.outgoing {
    //     left: 30%;
    // }
}

.quick-reaction-container {
    position: absolute;
    background-color: #000000;
    border: 2px solid white;
    border-radius: 13px;
    height: 26px;
    width: fit-content;
    right: 10px;
    top: -15px;
    padding: 0px 6px;
    .quick-reaction {
        margin: 0px 0px;
        padding: 1px;
        font-size: 10px;
        &:hover {
            border: 1px solid #888888;
            background-color: #e2e2e2;
        }
        .quick-reaction-count {
            color: #888888;
            font-size: 0.7rem;
        }
    }
    .sent .quick-reaction-count {
        color: white;
        font-weight: 700;
        // background-color: palegreen;
    }
}

.room-name {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 18 * $chat-text-size;
    text-transform: uppercase;
    color: black;
}


.read-marker {
    margin-left: 20px;
    margin-right: 20px;
    height: 1px;
    width: calc(100% - 40px);
    line-height: var(--v-theme-title-featured-line-height);
    position: absolute;
    bottom: 0;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 8 * $chat-text-size;
    line-height: 140%;
    /* identical to box height, or 14px */
    letter-spacing: 0.29px;
    color: #c0c0c0;
    background-color: #c0c0c0;
    text-align: center;
    &::after {
        position: absolute;
        top: -4px;
        background: white;
        transform: translate(-50%,0);
        padding-left: 4px;
        padding-right: 4px;
        content: attr(title);
    }
}

.day-marker {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 1px;
    line-height: var(--v-theme-title-featured-line-height);
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10 * $chat-text-size;
    line-height: 140%;
    /* identical to box height, or 14px */
    letter-spacing: 0.29px;
    color: black;
    background-color: black;
    text-align: center;
    position: relative;
    &::after {
        position: absolute;
        top: -8px;
        background: white;
        transform: translate(-50%,0);
        padding-left: 10px;
        padding-right: 10px;
        content: attr(title);
    }
}

.room-info {
    background-color: #e0e0e0;
    height: 100%;
    .chat-header {
        background-color: transparent;
        border: none;
    }
    .room-avatar {
        background-color: #ededed;
        width: 100px !important;
        height: 100px !important;
        margin-bottom: 20px;
        .headline {
            font-size: 70 * $chat-text-size !important;
        }
    }
    
    .avatar .headline {
        font-size: 16 * $chat-text-size !important;
    }

    .room-name {
        text-align: center;
        margin-top: 15px;
    }
    .back {
        position: absolute;
        top: 0px;
        left: 0px;
        margin: 10px 0px;
        font-weight: bold;
        font-size: 12 * $chat-text-size;
    }

    .qr {
        width: 120px;
        height: 120px;
        width: min(30vw, 30vh); 
        height: min(30vw, 30vh); 
        background-color: #e0e0e0;
        margin-top: 15px;
    }

    .v-card {
        background-color: white;
        border-radius: 20px;
    }

    .member::after {
        content: ' ';
        display: block;
        margin: 10px 0px;
        bottom: 0px;
        height: 1px;
        background-color: #e1e1e1;
        width: 100%;
    }

    .show-all {
        color: black;
        font-size: 14 * $chat-text-size;
        font-weight: bold;
        margin-left: 10px;
    }
}

.profile {
    background-color: white;
    height: 100%;
    .chat-header {
        background-color: transparent;
        border: none;
    }
    .room-name {
        text-align: center;
        margin-top: 15px;
    }
    .back {
        position: absolute;
        top: 0px;
        right: 0px;
        margin: 10px 0px;
        font-weight: bold;
        font-size: 12 * $chat-text-size;
    }

    .v-card {
        background-color: white;
        border-radius: 20px;
    }

    .user-info {
        display: flex;
        flex-wrap: nowrap;
        max-width: 40%;
    }

    .show-all {
        color: black;
        font-size: 14 * $chat-text-size;
        font-weight: bold;
        margin-left: 10px;
    }

    .action {
        padding: 4px 20px;
        &::after {
            content: ' ';
            display: block;
            margin: 10px 0px;
            bottom: 0px;
            height: 1px;
            background-color: #e1e1e1;
            width: 100%;
        }
    }
}