@import "@/assets/css/main.scss";

.login-root {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 80%;
    height: 100%;
    padding: 0;
    margin: 10%;
    background-color: $background;
}