$background: #ffffff;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

$chat-background: $background;
$chat-standard-padding: 32px;
$chat-standard-padding-s: 16px;
$chat-standard-padding-xs: 8px;
$chat-text-size: 0.7pt;
$chat-button-height: 50px;